* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-image: url(/images/dreams-3405257_1920.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: new time roman;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-size-adjust: inherit;
    color: white;
    text-align: center;
}

img {
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 40%;
}

.form-control {
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid lightgreen;
    font-size: 21px;
    margin-top: 18px;
    padding: 23px;
    color: white;
}

.btn.info {
    margin-top: 20px;
    font-size: 21px;
    width: 200px;
    background: transparent;
}

.main {
    box-shadow: -1px 1px 60px 10px black;
    border-radius: 0px 100px 0px 100px;
    margin-top: 100px;
    height: 550px;
    background: rgba(0, 0, 0, 0.6);
    max-width: 40%;
}

.btn {
    margin-top: 20px;
}

.container {
    margin-right: auto;
    margin-left: 50px;
}

@media only screen and (max-width: 992px) and (min-width: 770px) {
    .main {
        max-width: 50%;
    }
}

@media only screen and (max-width: 770px) and (min-width: 600px) {
    .main {
        max-width: 70%;
    }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
    .main {
        max-width: 80%;
    }
}

@media only screen and (max-width: 600px) and (min-width: 324px) {
    .main {
        max-width: 95%;
    }
}